@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
html {
    font-size: 10px;
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #f7f7f7;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: white;
    background-color: darkorchid;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: darkorchid;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid #f7f7f7;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    font-weight: bold;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #b8a07e;
}
/* navbar */
#nav {
    background-color: white; /*whichever you want*/
    opacity: 0.5;
}
.navbar-brand {
    color: #7e7e7d;
    font-weight: bold;
    margin-left: 300px;
}
.navbar-brand:hover {
    color: #b8a07e;
}
.navCus {
    margin-right: 200px;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: bold;
    color: #7e7e7d;
}
.nav-link:hover {
    color: #b8a07e;
}
ul li.active a {
    color: #b8a07e;
}
/* End navbar section */

/* Hero Section*/
#hero {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 450px;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero .cta {
    border: 3px solid #b8a07e;
}
#hero h1 {
    font-family: "Playfair Display", serif;
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation-delay: 3s;
}
#hero h1 span {
    font-family: "Playfair Display", serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #b8a07e;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Hero Section*/

/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-right {
    width: 100%;
}
#about .col-right h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #999999;
}
#about .col-right h2 {
    font-family: "Playfair Display", serif;
    color: #999999;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    font-family: "Playfair Display", serif;
    color: #999999;
    margin-bottom: 20px;
    font-size: 2rem;
}
#about #quote {
    margin-top: 50px;
    font-family: "Parisienne", cursive;
    margin-bottom: 0px;
    font-size: 4rem;
    line-height: 50px;
    color: #999999;
}
#about .section-title span {
    font-family: "Playfair Display", serif;
    color: #b8a07e;
}
#about .col-right .cta {
    color: white;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
}
#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #b8a07e;
    z-index: -1;
}
#about {
    background-color: #f7f7f7;
    opacity: 0.99;
}
/* End About Section */

/* Projects section */
#project1 {
    background-color: #f7f7f7;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project1 h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #b8a07e;
    text-align: center;
    margin-bottom: 50px;
}
#project1 .item {
    /* 設定父親定位點 */
    position: relative;
    width: 400px;
    margin: 30px 10px;
}
#project1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#project1 .info {
    /*   display: none; */
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.651);
    top: 0;
    width: 385px;
    height: 100%;
    text-align: center;
    padding: 20px;
}
#project1 .info p {
    color: #fff;
}
#project1 .info:hover {
    transition: 700ms;
    opacity: 1;
}
.item h3 {
    color: #b8a07e;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
}
/* End Projects section */
/* Certificates Section */
#certificates {
    background-color: #f7f7f7;
    opacity: 0.99;
}

#certificates .section-title {
    color: #b8a07e;
}
#certificates .certificates {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#certificates .certificate-top {
    max-width: 500px;
    margin: 0 auto;
}
#certificates .certificate-bottom {
    color: #b8a07e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}
#certificates .certificate-item {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#certificates .certificate-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.1;
    z-index: -1;
}
#certificates .certificate-bottom .icon {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
#certificates .certificate-item h2 {
    text-align: center;
    font-size: 2rem;
    color: #b8a07e;
    text-transform: uppercase;
}
#certificates .certificate-item p {
    color: white;
    text-align: center;
}
#certificates .row {
    justify-content: center;
    margin-top: 20px;
}
/* End Certificates Section */

/* contact Section */
#contact {
    background-color: #f7f7f7;
    opacity: 0.99;
}

#contact .section-title {
    color: #b8a07e;
    margin-bottom: 50px;
}
#contact .section-title span {
    color: #999999;
    margin-bottom: 50px;
}
#contact .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items {
    width: 400px;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: -20px;
}
#contact .contact-info h1 {
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #b8a07e;
}
#contact .contact-info h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 10px;
    color: #999999;
}
.contact-item i {
    font-size: 50px;
    color: #b8a07e;
}
/*End contact Section */

/* footer Section */
#footer .socials-media {
    width: 100%;
}

#footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 50px 0 20px 0;
}

#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#footer .socials-media ul li a {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
    color: #b8a07e;
    transition: all 0.5s ease-in-out 0s;
}
/* End footer Section */

/* KeyFrames */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}
/* End KeyFrames */

@media only screen and (min-width: 768px) {
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */

    /* Project */
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 75%;
    }
    #projects .all-projects .project-img {
        height: 75%;
    }
    /* End Project */
    /* Certificates Section */
    #certificates .certificate-bottom .certificate-item {
        flex-basis: 20%;
        margin: 2.5%;
    }
    /* End Certificates Section */
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}
/* End Media Query For Tablet */
